.title-nav{
    display: flex;
    
    justify-content: space-between;

    padding: 20px 0;

    .icons {
        display: flex;
        justify-content: space-around;
        
        a {
            padding: 0 10px 0;
            font-size: 1.8rem;
            text-decoration: none;
            color: @alt-border-color;
        }
    }

    @media @phone {
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
            padding-bottom: 20px;
        }
    }
}