.intro-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 20px;
    }

    p {
        
        font-size: 1.8rem;
        line-height: 1.5;
        padding: 20px 20px 30px 0;
    }

    img {
        padding-left: 20px;
    }

    button {
        
        .custom-btn(200px, white, @korokimo);
        border: 2px solid @korokimo;
    }
}