.intro-content {

    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 48.5%;   
        
    }

    h1 {
        margin-bottom: 10px;
        padding-bottom:10px;
        border-bottom: 2px solid @main-border-color;
    }

    p {
        
        font-size: 1.8rem;
        line-height: 1.5;
        padding: 20px 0;
    }

    img {        
        border-radius: 10px;    
        width: 100%;
    }

    

    button {
        
        .custom-btn(200px, white, @korokimo);
        border: 2px solid @korokimo;
    }
}

.features-content {

    h2 {
        margin: 20px 0 10px 0;
        padding-bottom: 10px;
        border-bottom: 2px solid @main-border-color;
    }
    
    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
       

        .feature {
            width: 48.5%;
            padding: 10px 10px 10px 0;;
            font-size: 1.8rem;
            line-height: 1.5;
            display: flex;

            img {
                padding: 20px 0;
            }

            p {
                padding: 20px 0 0 20px;
            }
        }
    }

     
    
    
}

.examples-content {
        
    h2 {
        margin-bottom: 20px;
    }

    .examples {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        

        .example {
            width: 48.5%;
            padding: 20px 0;
            
            img {
                border-radius: 10px;
                width: 100%;
            }

            h3 {
                margin: 20px 0 10px 0;
                padding-bottom: 20px;
                border-bottom: 2px solid @main-border-color;
            }
            h4 {
                margin: 20px 0;
            }

            p {
                font-size: 1.8rem;
                line-height: 1.5;
                padding-bottom: 20px;
            }
            
        }
        button {
        
            .custom-btn(100px, white, @korokimo);
            border: 2px solid @korokimo;
        }


    }




}