.custom-btn(@width, @bgColor, @fontColor) {
    width: @width;
    background-color: @bgColor;
    color: @fontColor;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    font-size: 1.8rem; 
    font-family: @roboto-slab;

    &:hover {
        background-color: @fontColor;
        color: @bgColor;
        border: 1px solid @bgColor;
    }
}


  
  
  
  