


// Color Vars
@dove: #737373;
@chalice: #A6A6A6;
@porcelain: #F5F6F7;
@chetwode-blue: #666CFF;
@korokimo: #FFAE66;

// Google Fonts
@open-sans: 'Open Sans', sans-serif;
@roboto-slab: 'Roboto Slab', serif;